
@{
    ViewData["Title"] = "NoAutorizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NO PODES ENTRAR ACA NO ESTAS AUTORIZADO TOMATELA TE DIJE</h1>

<img src="https://pbs.twimg.com/media/DfQuzljW0AE026q.jpg" />

