
@{
    ViewData["Title"] = "CompraExito";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>COMPRA REALIZADA CON ÉXITO</h1>


 <form asp-controller="Catalogo" asp-action="Index">
  <button type="submit" class="btn btn-secondary btn-sm">
  <i class="bi bi-box-arrow-in-left"></i>
 VOLVER AL CATÁLOGO
</button>
</form>


